body {
  background-color: black;
  color: white;
  font-family: monospace;
  margin: 0;
  padding: 2em;
  line-height: 1.5;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  background-color: white;
  color: black;
}

h1, h2, h3 {
  color: white;
  font-family: monospace;
}
